# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
# ネストした .xcworkspace/.xcodeproj 配下のユーザー状態も無視する
**/xcuserdata/
*.xcuserstate
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Module cache
*.modulecache
